.container {
    background-image: url("ye.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

h1 {
    font-size: 36px;
}

p {
    font-size: 18px;
    margin-top: 20px;
}
